#create a docker image and push to docker hub when we publish new realease 
name: Docker Auto Push
on:
  release:
    types: [published]
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

        #use docker metadata-action action to set tags
      - name: extrack metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
              images: omkar012/my-flask-app
              tags: |
                type=semver,pattern={{version}}
                type=semver,pattern={{major}}.{{minor}}
        

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}